<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <style>
        td {
            border: 1px solid gray;
            text-align: center;
            vertical-align: center;
        }

        table {
            width: 70%;
        }

        .UDL {
            width: 70px;
        }
        #del_td{
            margin: 0 auto;
        }
    </style>
    <h1>게시글 수정하기</h1>
    <hr>
    <table>
        <tr>
            <td>제목</td>
            <td colspan=2><%=post.title%></td>
        </tr>
        <tr>
            <td>작성자</td>
            <td colspan=2><%=post.writer%></td>
        </tr>
        <tr>
            <td>내용</td>
            <td colspan=2><%=post.content%></td>
        </tr>
        <tr>
            <td>
                <button><a class="UDL" href="/board/update/<%=post.id%>">수정하기</a></button>
            </td>
            <td id="del_td">
                <div id="del_td" class="UDL">
                    <form id="del_td" action="/board/delete_process/<%=post.id%>?_method=DELETE" method="post">
                        <input type="submit" value="삭제하기"></input>
                    </form>
                </div>
            </td>
            <td>
                <button><a class="UDL" href="/board">목록으로</a></button>
            </td>

        </tr>

    </table>
</body>

</html>