<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../stylesheets/boardlist.css">
    <link rel="stylesheet" href="../../stylesheets/fontello.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
</head>
<body>
    <header>
    <div id="header_up">
        <a class="h_ups" id="home_icon" href="https://github.com/d2vts/board_web_site"><img src="../../images/github70.png" alt="github"></a>
        <h1 class="h_ups" id="main_title"><a href="/" style="color: cornflowerblue;">D2VTS</a></h1>
        <% if(sess.idx){ %>
          <div class="h_ups" id=login_div>
            <button class="loginbtns" onclick="location.href='/user2/mypage' "><a href="/user2/mypage" class="loginbtns" id="mypage_btn">&nbsp;마이페이지</a></button>
            <button class="loginbtns" onclick="location.href='/logout' "><a href="/logout" class="loginbtns" id="logout_btn">&nbsp;로그아웃</a></button>
          </div>
          <% } else{ %>
        <div class="h_ups" id=login_div>
            <button class="loginbtns" onclick="location.href='/sign_up' "><a href="/sign_up"  id="sign_up_btn">&nbsp;회원가입&nbsp;</a></button>
            <button class="loginbtns" onclick="location.href='/login' "><a href="/login"  id="login_btn">&nbsp;로그인&nbsp;</a></button>
        </div>
        <% } %>
      </div>
    </header>
    <h1 style="font-weight: bold; text-align: center;"> 자유게시판 </h1>
    <table>
        <tr>
            <th class="title_th">제목</td>
            <th class="etc_th">작성자</td>
            <th class="etc_th">조회수</td>
            <th class="etc_th">작성일</td>
        </tr>
        <% for(var i = 0; i< listCnt; i++){%>

            <% if(post != undefined){ %>

            <% if( post[i] != undefined){ %>
            <tr>
                <td class="title_td"><a href="/board/detail/<%=post[i].id%>"><%= post[i].title %></a></td>
                <!-- 아래의 작성자에 user테이블을 이용해서 user.id에 해당하는 user.nickname을 넣어줘야함 -->
                <% for(let user of users){ %>
                <% if(post[i].user_id==user.id){ %>
                <td class="etc_th"><%= user.nickname %></td>
                <td class="etc_th"><%= post[i].views %></td>
                <td class="etc_th"><%= post[i].createdAt.toLocaleString() %></td>
                <%}}%>
            </tr>
            <%} else {%>
            <%}%>
            <%} else {%>
            <%}}%>


                <!-- //////////////////kind = reqquery//////////////// -->
                <tr class="main-table" id="page">
                    <td class="align" id="page_td" colspan="14">
                    
                        <% if(reqquery){%>
                            <% if(pageNow > 1){ %>
                                <% if(startPage==1) {%>
                                    [<a href="/board/list/1?find_type=<%=reqquery.find_type%>&_query=<%=reqquery._query%>">◀◀</a>]
                                    <%} else {%>
                                [<a href="/board/list/<%=startPage-1%>?find_type=<%=reqquery.find_type%>&_query=<%=reqquery._query%>">◀◀</a>]
                                <%}%>
                                [<a href="/board/list/<%= pageNow - 1 %>?find_type=<%=reqquery.find_type%>&_query=<%=reqquery._query%>">◀</a>]
                            <% } else{ %>
                                <button onclick="alert('첫 페이지 입니다.')"><a href="/board/list/1?find_type=<%=reqquery.find_type%>&_query=<%=reqquery._query%>">■</a></button>
                                <% } %>
    
                                <% for(var i = startPage  ; i <= endPage ; i++ ){ %>
                                <% if(i==pageNow){ %>
                                    [ <span style="font-weight: bold;"><%= i %></span> ]
                                    <% } else { %>
                                        [<a href="/board/list/<%=i%>?find_type=<%=reqquery.find_type%>&_query=<%=reqquery._query%>"><%=i%></a>]
                                        <% }} %>
    
                                <% if(pageNow < totalPage){ %>
                                    [<a href="/board/list/<%= pageNow + 1 %>?find_type=<%=reqquery.find_type%>&_query=<%=reqquery._query%>">▶</a>]
    
                                    <% if(endPage+1>totalPage){ %>
                                        [<a href="/board/list/<%= endPage  %>?find_type=<%=reqquery.find_type%>&_query=<%=reqquery._query%>">▶▶</a>]
                                        <% }else { %>
                                    [<a href="/board/list/<%= endPage +1 %>?find_type=<%=reqquery.find_type%>&_query=<%=reqquery._query%>">▶▶</a>]
                                    <% } %>
                                <% } else { %>
                                    <button onclick="alert('마지막 페이지 입니다.')"><a href="/board/list/<%=totalPage%>?find_type=<%=reqquery.find_type%>&_query=<%=reqquery._query%>">■</a></button>
                                    <% } %>

                        <%} else{ %>
                        <% if(pageNow > 1){ %>
                            <% if(startPage==1) {%>
                                [<a href="/board/list/1">◀◀</a>]
                                <%} else {%>
                            [<a href="/board/list/<%=startPage-1%>">◀◀</a>]
                            <%}%>
                            [<a href="/board/list/<%= pageNow - 1 %>">◀</a>]
                        <% } else{ %>
                            <button onclick="alert('첫 페이지 입니다.')"><a href="/board/list/1">■</a></button>
                            <% } %>

                            <% for(var i = startPage  ; i <= endPage ; i++ ){ %>
                            <% if(i==pageNow){ %>
                                [ <span style="font-weight: bold;"><%= i %></span> ]
                                <% } else { %>
                                    [<a href="/board/list/<%=i%>"><%=i%></a>]
                                    <% }} %>

                            <% if(pageNow < totalPage){ %>
                                [<a href="/board/list/<%= pageNow + 1 %>">▶</a>]

                                <% if(endPage+1>totalPage){ %>
                                    [<a href="/board/list/<%= endPage  %>">▶▶</a>]
                                    <% }else { %>
                                [<a href="/board/list/<%= endPage +1 %>">▶▶</a>]
                                <% } %>
                            <% } else { %>
                                <button onclick="alert('마지막 페이지 입니다.')"><a href="/board/list/<%=totalPage%>">■</a></button>
                                <% }} %>

                    </td>
                </tr>
                <!-- /////////////////////////////////// -->

    </table>
    


    <form id="search_form"action="/board/list/<%=pageNow%>">

        <select id = "search_select" name="find_type">
            <option value="title">제목</option>
            <option value="content">내용</option>
            <option value="contentitle">제목+내용</option>
            <option value="writer">작성자</option>
        </select>
        <input id="search_input" name="_query" placeholder="검색어 입력" type="text"><input id = "search_submit" type="submit" value="검색">

        <% if(sess!=undefined){ %>
            <span class="create_span"><a href="/board/create">글 작성하기</a></span>
            <%}else{%>
            <span class="create_span"><a href="/login">글 작성하기</a></span>
            <% }%>
    </form>





</body>
</html>