<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>td{border:1px solid gray;}</style>
    <h1> 게시판 </h1>
    <table>
        <tr>
            <td>제목</td>
            <td>작성자</td>
            <td>조회수</td>
            <td>작성일</td>
            <td colspan=2><a href="/board/create">글 작성하기</a></td>
        </tr>
        <% for(let post of posts) { %>
            <tr>
                <td><a href="/board/detail/<%=post.id%>"><%= post.title %></a></td>
                <td><%= post.writer %></td>
                <td><%= post.views %></td>
                <td><%= post.createdAt.toLocaleString() %></td>
                <td><button ><a href="/board/update/<%=post.id%>">수정하기</a></button></td>
            
            <form action="/board/<%=post.id%>?_method=DELETE" method="post">
                <td><input type="submit" value="삭제하기"></input></td>
            </form>
            </tr>
        <% } %>
    </table>
</body>
</html>