<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../../stylesheets/index.css">
    <link rel="stylesheet" href="../../stylesheets/fontello.css">
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <style>
        td {
            border: 1px solid gray;
            text-align: center;
        }

        #three {
            border: 0
        }

        table {
            width: 70%;
        }

        .UDL {
            width: 70px;
        }

        #del_td {
            margin: 0 auto;
        }
    </style>
    <div id="header_up">
        <a class="h_ups" id="home_icon" href="#">&#xe800</a>
        <h1 class="h_ups" id="main_title"><a href="/" style="color: cornflowerblue;">D2VTS</a></h1>
        <% if(sess.idx){ %>
          <div class="h_ups" id=login_div>
            <a href="/mypage" class="loginbtns" id="mypage_btn">&nbsp;마이페이지&nbsp;</a>
            <a href="/logout" class="loginbtns" id="logout_btn">&nbsp;로그아웃&nbsp;</a>
          </div>
          <% } else{ %>
        <div class="h_ups" id=login_div>
          <a href="/sign_up" class="loginbtns" id="sign_up_btn">&nbsp;회원가입&nbsp;</a>
          <a href="/login" class="loginbtns" id="login_btn">&nbsp;로그인&nbsp;</a>
        </div>
        <% } %>
      </div>
    <h1>게시글</h1>
    <hr>
    <table>
        <tr>
            <td>제목</td>
            <td colspan=2><%=post.title%></td>
        </tr>
        <tr>
            <td>작성자</td>
            <% for(let user of users){ %>
                <% if(user.id==post.user_id){ %>
            <td colspan=2><%=user.nickname%></td>
            <%}}%>
            <!-- 여기 작성자의 post.writer 에는 현재 세션의 nickname값이 들어가도록 함 -->
        </tr>
        <tr>
            <td>내용</td>
            <td colspan=2><%=post.content%></td>
        </tr>
        <% if(sess.idnum==post.user_id){ %>
            
        <tr>
            <td>
                <button><a class="UDL" href="/board/update/<%=post.id%>">수정하기</a></button>
            </td>
            <td id="del_td">
                <div id="del_td" class="UDL">
                    <form id="del_td" action="/board/delete_process/<%=post.id%>?_method=DELETE" method="post">
                        <input type="submit" value="삭제하기"></input>
                    </form>
                </div>
            </td>
        </tr>
        <%} else{ %>
            
        <%}%>

    </table>
    <button><a class="UDL" href="/board">목록으로</a></button>
    <form action="/board/reply_process" method="POST">



        <table>
            <input type="hidden" name="replyWriter" value="<%=sess.idx%>" id="post_title" required>
            <input type="hidden" name="replyPostId" value="<%=post.id%>">
            <tr>
                <td colspan><textarea name="replyContent" cols="50" rows="2"></textarea></td>
                <% if(sess.idx){ %>
                <td><input type="submit" value="댓글 등록"></td>
                <%}else{%>
                    <td><button><a href="/login">댓글 등록</a></button></td>
                <%}%>
            </tr>
        </table>
    </form>
    <h3>댓글</h3>
    <table>
        <% for(let reply of replies) { %>
            <tr>
                
                <% for(let user of users) { %>
                    <% if(reply.user_id==user.id){ %>
                <td colspan=2><%=user.nickname%></td>
                <%}}%>
                <td colspan=2><%=reply.content%></td>

                <% if(reply.user_id==sess.idnum){%>
                <td><form id="del_td" action="/board/reply_delete/<%=reply.id%>/<%=post.id%>?_method=DELETE" method="post">
                    <input type="submit" value="삭제"></input>
                </form></td>
                <%} else{}%>
            </tr>
            <% } %>
        </table>

</body>

</html>