<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <style>
        td {
            border: 1px solid gray;
            text-align: center;
        }
        #three{
            border: 0
        }
        table {
            width: 70%;
        }

        .UDL {
            width: 70px;
        }
        #del_td{
            margin: 0 auto;
        }
    </style>
    <h1>게시글 수정하기</h1>
    <hr>
    <table>
        <tr>
            <td>제목</td>
            <td colspan=2><%=post.title%></td>
        </tr>
        <tr>
            <td>작성자</td>
            <td colspan=2><%=post.writer%></td>
        </tr>
        <tr>
            <td>내용</td>
            <td colspan=2 ><%=post.content%></td>
        </tr>
        <tr>
            <td>
                <button><a class="UDL" href="/board/update/<%=post.id%>">수정하기</a></button>
            </td>
            <td id="del_td">
                <div id="del_td" class="UDL">
                    <form id="del_td" action="/board/delete_process/<%=post.id%>?_method=DELETE" method="post">
                        <input type="submit" value="삭제하기"></input>
                    </form>
                </div>
            </td>
            <td>
                <button><a class="UDL" href="/board">목록으로</a></button>
            </td>

        </tr>
    </table>
    <form action="/board/reply_process" method="POST">
    <table>
        <tr>
            <td >작성자</td>
            <td><input type="text" name="replyWriter" placeholder="작성자 입력"id="post_title" required></td>
            <td><input type="submit" value="저장"></td>
            <input type="hidden" name="replyPostId" value="<%=post.id%>">
        </tr>
        <tr>
            <td>댓글</td>
            <td colspan=2><textarea name="replyContent" cols="50" rows="2"></textarea></td>
        </tr> 
    </table>
    </form>
    <table>
        <tr>
            <td id ="three">-</td>
            <td id ="three">-comment-</td>
            <td id ="three">-</td>
        </tr>
        <% for(let reply of replies) { %>
        <tr>
            <td>작성자</td>
            <td colspan=2><%=reply.writer%></td>
        </tr>
        <tr>
            <td>댓글내용</td>
            <td colspan=2><%=reply.content%></td>
        </tr>
        <% } %>
    </table>

</body>

</html>