<% for(var i = 0; i<post.length; i++) { %>
    <tr class="main-table">
        <td class="align"><%= post[i].id %></td>
        <% if(session){ %> 
            <td colspan="8" class="title-td"><a href="./user/<%= post[i].id %>"><%= post[i].title %></a></td>
        <% } else{ %>
            <td colspan="8" class="title-td"><a href="../login"><%= post[i].title %></a></td>
        <% } %>
        <td colspan="2" class="align"><%= post[i].writer %></td>
        <td colspan="2" class="align"><%= post[i].createdAt.toLocaleString() %></td>
        <td class="align"><%= post[i].views %></td>
    </tr>
    <% } %>
    <tr class="main-table" id="page">
        <td class="align" id="page_td" colspan="14">
            <% if(page > 1){ %>
                [<a href="/board/1">◀◀</a>]
                [<a href="/board/<%= page - 1%>">◀</a>]
            <% } else { %>
                <span style="color:gray">◀◀</span>
                <span style="color:gray">◀</span>
            <% } %>

            <% for(var i=startPage; i<= endPage; i++){ %>
            <% if(i==page){ %>
                [<span style="font-weight: bold;"><%=i%></span>]
            <% } else { %>
                [ <a href="/board/<%=i%>"><%=i%></a> ]
            <% }}  %>    
            
            <% if(page < totalPage){ %>
                [<a href="/board/<%= page + 1 %>">▶</a>]
                [<a href="/board/<%= totalPage %>">▶▶</a>]
            <% } else { %>
                <span style="color:gray">▶</span>
                <span style="color:gray">▶▶</span>
            <% } %>
        </td>
    </tr>